In [7]:
import pandas as pd

data_files = ['../data/data_by_ocean/eclipse/raw/2001_summary_description.csv',
              '../data/data_by_ocean/eclipse/raw/2002_summary_description.csv',
              '../data/data_by_ocean/eclipse/raw/2003_summary_description.csv']
labels_files = ['../data/data_by_ocean/eclipse/raw/2001_bug_id_date_who.csv',
                '../data/data_by_ocean/eclipse/raw/2002_bug_id_date_who.csv',
                '../data/data_by_ocean/eclipse/raw/2003_bug_id_date_who.csv']
test_data_files = ['../data/data_by_ocean/eclipse/raw/2004_summary_description.csv',
                   '../data/data_by_ocean/eclipse/raw/2005_summary_description.csv',
                   '../data/data_by_ocean/eclipse/raw/2006_summary_description.csv']
test_labels_files = ['../data/data_by_ocean/eclipse/raw/2004_bug_id_date_who.csv',
                     '../data/data_by_ocean/eclipse/raw/2005_bug_id_date_who.csv',
                     '../data/data_by_ocean/eclipse/raw/2006_bug_id_date_who.csv']

In [8]:
import re
def clean_str(string):
    """
    Tokenization/string cleaning for all datasets except for SST.
    Original taken from https://github.com/yoonkim/CNN_sentence/blob/master/process_data.py
    """
    string = re.sub(r"[^A-Za-z0-9(),!?\'\`]", " ", string)
    string = re.sub(r"\'s", " \'s", string)
    string = re.sub(r"\'ve", " \'ve", string)
    string = re.sub(r"n\'t", " n\'t", string)
    string = re.sub(r"\'re", " \'re", string)
    string = re.sub(r"\'d", " \'d", string)
    string = re.sub(r"\'ll", " \'ll", string)
    string = re.sub(r",", " , ", string)
    string = re.sub(r"!", " ! ", string)
    string = re.sub(r"\(", " \( ", string)
    string = re.sub(r"\)", " \) ", string)
    string = re.sub(r"\?", " \? ", string)
    string = re.sub(r"\s{2,}", " ", string)
    return string.strip().lower()

In [10]:
data = []
for data_file in data_files:
    with open(data_file, 'r', encoding='latin-1') as f:
        data.extend([s.strip() for s in f.readlines()])
        data = [clean_str(s) for s in data]
test_data = []
for test_data_file in test_data_files:
    with open(test_data_file, 'r', encoding='latin-1') as f:
        test_data.extend([s.strip() for s in f.readlines()])
        test_data = [clean_str(s) for s in test_data]

labels = pd.read_csv(labels_files[0])
labels_files.pop(0)
for labels_file in labels_files:
    labels_df = pd.read_csv(labels_file)
    labels.append(labels_df)

test_labels = pd.read_csv(test_labels_files[0])
test_labels_files.pop(0)
for test_labels_file in test_labels_files:
    test_labels_df = pd.read_csv(test_labels_file)
    test_labels.append(test_labels_df)

In [11]:
data[:2]

['dcr javadoc code assist should offer better support for closing tags \\( 1gkq0im \\) reply description dani megert 2001 10 10 23 07 46 edt when you want to write e g code test code you can not simple do the following 1 code assist , select code 2 type test 3 code assist , select code note at this point the content assist is empty does not come up , i have to enter a space first suggestions a \\) could offer code code as template \\( at 1 \\) b \\) go back on the line and search for nearest tag and offer its closing version i e if x is found then show the corresponding closing tag \\( if any \\) notes eg \\( 10 1 2001 12 04 43 am \\) templates support in the java doc partition should offer macros for code code etc reply comment 1 claude knaus 2001 10 11 04 06 30 edt suggestion a \\) has been implemented using templates the selection of the template happens via code assist add comment collapse all comments expand all comments , dcr javadoc code assist should offer better support for closing tags \\( 1gkq0im \\)',
 'test reply description jerome lanneluc 2001 10 11 04 37 42 edt testing testing 1 , 2 , 3 reply comment 1 jerome lanneluc 2001 10 11 04 56 34 edt fixed add comment collapse all comments expand all comments , test']

In [12]:
document_length = [len(x.split(" ")) for x in data]

In [13]:
document_l = pd.DataFrame(document_length)

In [14]:
document_l.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>21067.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>394.410357</td>
    </tr>
    <tr>
      <th>std</th>
      <td>693.669842</td>
    </tr>
    <tr>
      <th>min</th>
      <td>37.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>134.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>221.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>433.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>49088.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
document_l.shape

(21067, 1)

In [16]:
test_document_l = pd.DataFrame([len(x.split(" ")) for x in test_data])

In [17]:
test_document_l.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>60345.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>472.331146</td>
    </tr>
    <tr>
      <th>std</th>
      <td>773.428355</td>
    </tr>
    <tr>
      <th>min</th>
      <td>37.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>153.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>256.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>503.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>29469.000000</td>
    </tr>
  </tbody>
</table>
</div>